
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    
}

/* HEADER */

header{

    margin: 0 auto;
    max-width: 1000px;
    height: 100px;
    display: block;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 5px solid transparent;
}

nav a:hover{
    border-bottom: 4px solid #483939;
    transition: .4s;
   
}

nav img{
    max-width: 90px;
    border-radius: 70%;
}

/* BANNER */

.bannerGeral{
    background-image: url(../img/fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

#banner{
    height: 500px;
    display: flex;
    align-items: center;
}

.bannerCenter{
    margin: 0 auto;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    cursor: pointer;
    
}

.bannerTitle{
    width: 500px;
}

.bannerTitle h1{
    font-size: 150px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #F8E9DC;
    margin-bottom: 10px;
    
}

.bannerSpan span{
    font-size: 55px;
    color: #F8E9DC;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    
    
}
.bannerTitle2 h3{
    font-size: 18px;
    color: #fff;
   
    margin-top: 15px;
    margin-bottom: 20px;
}

.bannerLink{
    background-color: red;
    background-color: transparent;
    margin-top: 20px;
}

.bannerLink a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    line-height: 10px;
    padding: 15px;
    background-color: #ffffff95;
    color: #fff
}

.bannerLink a:hover{
    border: 2px solid #483939;
    background-color: transparent;
    transition: .7s;
    c
    
}

/* SOBRE */

#sobre{
    max-width: 1000px;
    margin: 0 auto;
}

.sobre{
    display: flex;
    flex: 1;
    align-items: center;
    height: 400px;
    background-color: #fefefe;
    
}

.sobreImg{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sobreImg img{
    border-radius: 70px 5px;
    max-width: 100%;
    height: auto;
}

.sobreText{
    max-width: 400px;
}

.sobreText h3{
    margin-bottom: 30px;
    font-size: 22px;
    color: #483939;
}

.sobreText p{
    margin-bottom: 30px;
}

/* MASSAGENS */

#massagens{
    color: #483939;
    height: 500px;
    margin-bottom: 100px;
}

.titleMassage{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.titleMassage h2{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 38px;
}

.cardsPolaroid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 5px;
    height: auto;
    flex-wrap: wrap;
}

article{
    max-width: 280px;
    height: 380px;
    background-color: blue;
    filter: grayscale(100%);
    cursor: pointer;
}

article:hover{
    filter: none;
    transition: all 0.35s;
}

article .polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    height: 380px;
}

article img{
    height: 260px;
    padding: 7px;
}
  
article .container {
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
}

article .container span{
    font-size: 25px;
    display: block;
    margin-top: 15px;
}

/* VALORES */

.cardsValues{
    max-width: 100%;
    height: 400px;
    display: flex;
    text-align: center;
    background-color: rebeccapurple;
}
.values{
    text-align: center;
    margin: 0 auto;
    background-color: #483939;
}
